<% if @game.round_over? %>
    <% case @game.game_status
       when Blackjack::PLAYER_HAS_BLACKJACK
         alert_class = 'win'
         message     = "Congratulations, #{@player.name} got blackjack!"
       when Blackjack::PLAYER_WINS
         alert_class = 'win'
         message     = "Whew, #{@player.name} won!"
       when Blackjack::PLAYER_BUSTED
         alert_class = 'lose'
         message     = "Whoops! #{@player.name} took a chance and lost!"
       when Blackjack::DEALER_HAS_BLACKJACK
         alert_class = 'lose'
         message     = 'Dealer got blackjack. Better luck next time.'
       when Blackjack::DEALER_BUSTED
         alert_class = 'win'
         message     = "Dealer busted. #{@player.name} won!"
       when Blackjack::DEALER_WINS
         alert_class = 'lose'
         message     = 'Dealer won this round, better luck next time.'
       when Blackjack::NO_WINNER_YET
         alert_class = 'lose'
         message     = 'I am not sure why you are seeing this, there is no winner yet.'
       when Blackjack::GAME_IS_PUSH
         alert_class = 'win'
         message     = 'Looks like this round was a push.'
       end %>

    <% alert_class = (alert_class == 'win' ? 'success' : 'danger') %>
    <div class="alert alert-<%= "#{alert_class}" %> span<%= "#{CARD_WELL_SPAN_WIDTH}" %> pull-right" style="padding: 8px 23px 8px 14px;">
      <%= "#{message}" %>
      <%= if @game.game_status == Blackjack::PLAYER_HAS_BLACKJACK
            '<br /><br />' +
                    "#{@player.name}'s final hand value: #{@player.hand_value}." + '<br />' +
                    "Dealer's final hand value: #{@dealer.card_showing}."
          else
            '<br /><br />' +
                    "#{@player.name}'s final hand value: #{@player.hand_value}." + '<br />' +
                    "Dealer's final hand value: #{@dealer.hand_value}."
          end
      %>
      <p>&nbsp;</p>
      <% if @player.chips < 1 %>
          <p>Unfortunately, you are out of chips. Game over.</p>
      <% else %>
          <% if @game.player_wins? %>
              <p>
                You have been awarded <strong>$<%= "#{@game.player_winnings_amount}" %></strong>.
                You now have <strong>$<%= "#{@player.chips}" %></strong>.
              </p>
          <% elsif @game.game_status == Blackjack::GAME_IS_PUSH %>
              <%= "#{@player.name}'s bet of $#{@player.bet} will stay " +
                  "on the table."  %>
          <% else %>
              <p>
                You have lost <strong>$<%= "#{@player.bet}" %></strong>.
                You now have <strong>$<%= "#{@player.chips}" %></strong>.
              </p>
          <% end %>
      <% end %>
    </div>
<% end %>
