<% if @game.round_over? %>
    <div class="alert alert-info span<%= "#{CARD_WELL_SPAN_WIDTH}" %> pull-right" style="padding: 8px 19px 8px 19px;">
      <h4 style="text-align: center">Game results</h4>
      <hr/>
      <ul class="unstyled">
        <% if @dealer.hand_is_blackjack? %>
            <li>The dealer got blackjack.</li>
        <% elsif @dealer.hand_is_bust? %>
            <li>The dealer busted with a score of <%= "#{@dealer.hand_value}" %>.</li>
        <% else %>
            <li>The dealer finished the hand with a score of <%= "#{@dealer.hand_value}" %>.</li>
        <% end %>
        <li></li>
        <% @players.each do |p| %>
            <% if p.bet > 0 %>
                <li><%= p.build_hand_result_message %></li>
            <% end %>
        <% end %>
      </ul>
    </div>
<% elsif @game.player_turn_over?(@current_player) && @dealer.card_count == 2 %>
    <div class="alert alert-info span<%= "#{CARD_WELL_SPAN_WIDTH}" %> pull-right" style="padding: 8px 19px 8px 19px;">
      <% if @current_player.hand_value > Blackjack::BLACKJACK_VALUE %>
          Oops,
          <%= "#{@current_player.name}" %> busted!
      <% elsif @current_player.hand_value == Blackjack::BLACKJACK_VALUE && @current_player.card_count == 2 %>
          Congratulations, <%= "#{@current_player.name}" %> got blackjack!
      <% else %>
          <%= "#{@current_player.name}" %> stayed at
          <%= "#{@current_player.hand_value}" %>.
      <% end %>
    </div>
<% end %>
